body {
  background-image: url("https://t4.ftcdn.net/jpg/01/28/98/53/360_F_128985367_mNdX0b56w6OcgiyUDnZwukpK1bkpfWwI.jpg");
}

.spaced {
  color: white;
  text-align: center; 
  font-weight:bolder;
}


